# System specific files
.DS_Store

# Folders to ignore
/.vscode
/obj
/.idea*/
/donut
/cmake-*/

# Files to ignore
*.o

# Ignore test samples to not get in trouble
/.donut_runtime/samples/lbn_swell.wav